<button 
    nz-button 
    [nzType]="'primary'" 
    (click)="showModal()"
    class="add-new-tab"
>
  Add selector
</button>

<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
  <nz-tab 
    *ngFor="let tab of selectors$ | async;
    trackBy:trackByFn" 
    [nzTitle]="tab.name"
    (nzClick)="updateBySelector(tab)"
    (nzSelect)="setCurrentSelector(tab)"
    [nzTitle]="titleTemplate"
  > 
     <ng-template #titleTemplate>
        <div>
          {{ tab.name }}
        <i 
          nz-icon 
          nzType="close" 
          (click)="closeTab(tab.name)" 
          class="ant-tabs-close-x"
        ></i>
      </div>
    </ng-template>
    <nz-card nzTitle="Todo list">
      <nz-card 
        *ngFor="let entry of todos$ | async"
        nzType="inner" 
        [nzTitle]="entry.title" 
        (click)="changeStatus(entry.id)"
        [class.completed]="entry.completed"
        [style.backgroundColor]="entry.color"
      >
        <p>description: {{entry.description}}</p>
        <p>priority: {{entry.priority}}</p>
      </nz-card>
   </nz-card> 
  </nz-tab>
</nz-tabset>

<nz-modal 
  [(nzVisible)]="isVisible" 
  nzTitle="Select params" 
  (nzOnCancel)="handleCancel()" 
  (nzOnOk)="handleOk()">
    <app-selector></app-selector>
</nz-modal>